<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboard">
    <p th:if="${error != null}" th:text="${error}"></p>
    <div class="userName">
    <h3>Usuario</h3>
    <h2 th:if="${session.usuariosession} != null" th:text="${session.usuariosession.nombre}"></h2>
    </div>
    <div>
        <h4>Opciones</h4>
        <a href="/characters">Panel de personajes</a>
        
        <a href="/movies">Panel de películas</a>
        
        <a href="/genres">Panel de géneros</a>
    </div>

</div>

</body>

</html>