<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/logincheck}" method="POST">
    
    	<p th:if="${error != null}" th:text="${error}"></p>
    	<p th:if="${logout != null}" th:text="${logout}"></p>
    
        <label>Email</label>
        <input type="email" name="mail">
        </br>
        <label>Contraseña</label>
        <input type="password" name="clave">
        </br>

        <button type="submit">Ingresar</button>
    </form>

</body>
</html>