<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="panel">
    <!--<p th:if="${error != null}" th:text="${error}"></p>-->
    <div class="userName">
    <h3>Usuario</h3>
    <h2 th:if="${session.usuariosession} != null" th:text="${session.usuariosession.nombre}"></h2>
    </div>
    <div>
        <h4>Opciones</h4>
        <a href="/moviesPanel/createMovie">Crear pelicula</a>
        
        <a href="/moviesPanel/editMovie">Editar pelicula</a>

        <a href="/moviesPanel/deleteMovie">Eliminar personaje</a>
        
    </div>
    <div>
        <thead>
				<tr>
					<th>Nombre</th>
					<th>Imagen</th>
				</tr>
        </thead>
            <tr>
    	        <th th:each="Personaje : ${listaPersonajes}">
                <td th:text="${Personaje.nombre}"></td>
                <td><img th:src="@{/Imagen/load/__${Personaje.Imagen.id}__}" style="width: auto; height: 60px;"></td>
            </tr>
    </div>

</div>

</body>

</html>