<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="registrarUsuario" method="POST">
    
    	<p th:if="${error != null}" th:text="${error}"></p>
    
        <label>Nombre de usuario</label>
        <input type="text" name="nombre">
        </br>
        <label>Email</label>
        <input type="email" name="eMail">
        </br>
        <label>Dni</label>
        <input type="number" name="dni">
        </br>
        <label>Contraseña</label>
        <input type="password" name="clave">

        <button type="submit">Enviar</button>
    </form>
</body>

</html>